@model IEnumerable<Shoposphere.Admin.Models.ProductViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}
<div class="row">
    <div class="col-6"><h2>Product List</h2></div>
    <div class="col-6">
        <a asp-action="Add" class="btn btn-cyan d-none d-md-inline-block text-white float-end">Add Product</a>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>

            <td>
                @*<img style="width:50%" src="data:image;base64, @item.PictureStr" />*@
                <img style="width:50%" src="data:image;base64, @item.PictureStr" />
            </td>


            <td>
                @(item.Discontinued?"Yes":"No")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Comments", "List", "Comment", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
