@model IndexViewModel
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_HeadPartialView" model="Model" />

<div class="main-banner" id="top">
    <div class="container-fluid">
        <section class="section" id="product">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        @*<div class="col-lg-8">
                <div class="gallery_img">
                    <img src="data:image;base64,@item.PictureStr" alt="">
                </div>
            </div>*@
                        <br/>
                        <div class="col-lg-8" style="text-align:center; width:800px">
                            <a class="gallery_img" href="">
                                <img src="data:image;base64,@item.PictureStr" alt="">
                            </a>
                        </div>
                        @*<div class="col-lg-4">

                <div class="right-content:center">
                    <h4>@item.ProductName</h4>
                    <span class="price">$@item.UnitPrice</span>

                    <a href="/seller/detail/@item.SupplierId">Supplier: @item.SupplierName</a>
                    <div>
                        <i class="fa"></i>
                        <p>
                            @if (item.UnitsInStock > 0)
                            {
                                <span>product is available in stock : @item.UnitsInStock</span>
                            }
                            else
                            {
                                <span>product is not available in stock : @item.UnitsInStock</span>
                            }
                        </p>

                    </div>

                    <div class="total">

                        <div class="main-border-button"><a href="/cart/add/@item.Id">Add To Cart</a></div>
                    </div>
                </div>
            </div>*@
                        
                <div class="single_product_desc" @*style="text-align:center;"*@>
                    <br />
                    <br />
                    <br />
                   
                    <h4 class="title"><a href="#">@item.ProductName</a></h4>

                    <h4 class="price">$@item.UnitPrice</h4>

                    <a href="/seller/detail/@item.SupplierId">Supplier: @item.SupplierName</a>


                    <p class="available">
                        Available:
                        @if (item.UnitsInStock > 0)
                        {
                            <span>product is available in stock : @item.UnitsInStock</span>
                        }
                        else
                        {
                            <span>product is not available in stock : @item.UnitsInStock</span>
                        }
                    </p>

                    <div class="single_product_ratings mb-15">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>

                    <div class="total">

                        <div style="color: #fd7e14;" class="btn btn-outline-danger"><a href="/cart/add/@item.Id">Add To Cart</a></div>
                    </div>

                </div>

                    }
</section>
    </div>
</div>